html, body{  
    width:100%;
    max-width:auto;
    height:100%;
    padding:0;
    margin:0;
    
    align-content:center;
    justify-content:center;
}
.col-1{width: 8,33%;}
.col-2{width: 16,66%;}
*{box-sizing: border-box;}

#corpo{background-color: red;}


div#cabecalho{
      display:flex;
      width:100%;
      height:100px;
      background-color:brown;
      justify-content: center;
      align-items:center;
      border: 5px rgb(255, 217, 0) solid;
      border-top:0px;
      margin:0%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
h1#Cab2{
        
        font-family:arial;
        color:white;
        font-size:50px;
        padding: 0px;
        
        }
div#meio{
    display:flex;
    background-color:rgb(107, 3, 67);
    height:500px;
    background:url("imagens/mesa.jpg")50% 50%;
    background-size: cover;
    justify-content: right;
    align-items: center;
    margin:0px;
    
}
#Centro{
    width:50%;
    height: 95%;
    border: 7px rgb(110, 44, 0) solid;
    border-top:20px rgb(110, 44, 0) solid;
    border-bottom:20px rgb(110, 44, 0) solid;
    background: linear-gradient(transparent,rgb(102, 61, 0)) ;
    float:right;
    border-bottom-left-radius:20px;
    border-top-left-radius:20px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

}

.But{width:70%;
     height:15%;
     font-size: 100%;
     background-color: transparent;
     border: 2px black solid;
     color: beige;
     font-weight: bolder;
     margin: 15px;
     border-radius: 5px;
     opacity: 100%;
     transition: background 0.5s ease-in-out, color 0.5s ease-in-out, opacity 1s;
    }
    a{width:100%;
        height:25%;
    }
.But:hover{background-color:brown;opacity: 75%;}

@media(max-width:500px){
div#cabecalho{}
}