html, body{  
    width:100%;
    max-width:auto;
    height:100%;
    padding:0;
    margin:0;
    
    align-content:center;
    justify-content:center;
}
#corp{
    background:url("libra.png")50% 100% no-repeat red ;
    background-size: contain;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#formulario{
    background-color: brown;
    width:90%;
    max-width: 500px;
    height:500px;
    border: silver 5px solid;
    border-radius: 20px;

}
p {color: aliceblue;
    font-size: 300%;
    font-weight: bold;
}